.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  tui-input {
    margin: 1rem 0;
  }

  &__radio {
    display: flex;
    gap: 0.5rem;
  }

  &__headers {
    display: flex;
    gap: 1rem;
  }
}


.form__group__header {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  input {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    font-size: .875rem;
    color: #444444;

    &:focus-visible {
      outline: none;
    }
  }

  tui-icon {
    cursor: pointer;
  }

  p {
    cursor: pointer;
    font-size: .875rem;
    color: #444444;
  }
}

.delete__all {
  cursor: pointer;
  color: red;
}

button {
  cursor: pointer;
  width: max-content;
  margin-top: 1rem;
  &:disabled {
    background-color: darkgrey;
  }
}
