<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h3>Selecione o método:</h3>
    <div>
      <input type="radio" id="get" name="metodo" value="GET"  formControlName="metodo"/>
      <label for="get">GET</label>

      <input type="radio" id="post" name="metodo" value="POST" formControlName="metodo"/>
      <label for="post">POST</label>

      <input type="radio" id="put" name="metodo" value="PUT" formControlName="metodo"/>
      <label for="put">PUT</label>

      <input type="radio" id="delete" name="metodo" value="DELETE" formControlName="metodo"/>
      <label for="delete">DELETE</label>
    </div>

    <div class="form__group">
      <label for="alias">Nome da API*</label>
      <input type="text" formControlName="alias" />
    </div>

    <div class="form__group">
      <label for="url">URL*</label>
      <input type="text" formControlName="url" />
    </div>

    <div class="form__group">
      <label for="corpo">Body(opcional)</label>
      <input type="text" formControlName="corpo" />
    </div>

    <h4>Headers:</h4>
    <button type="button" (click)="addHeader()">+ Adicionar Header</button>
    <div formArrayName="cabecalho">
      <div class="form__group__header" *ngFor="let header of cabecalho.controls; let i = index" [formGroupName]="i">
        <input type="text" formControlName="propriedade" placeholder="Propriedade" />
        <input type="text" formControlName="valor" placeholder="Valor" />
        <p (click)="deleteHeader(i)">Img delete</p>
      </div>
    </div>


    <div>
      <button type="submit" [disabled]="!form.valid">Enviar</button>
    </div>
  </form>
</div>
