.headbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  h1 {
    margin: 0;
    color: #9ca986;
  }
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;

    a {
      color: #FFF;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
