.card {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__title {
    color: #526ed3;
  }

  &__actions {
    rotate: 90deg;
  }
}
