<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()" >
    <h3>Selecione o método:</h3>
    <div class="form__radio">
      <label tuiLabel>
        <input formControlName="metodo" size="s" tuiRadio type="radio" value="GET" />
        <small>GET</small>
      </label>
      <label tuiLabel>
        <input formControlName="metodo" size="s" tuiRadio type="radio" value="POST" />
        <small>POST</small>
      </label>
      <!-- <label tuiLabel>
        <input formControlName="metodo" size="s" tuiRadio type="radio" value="PUT" />
        <small>PUT</small>
      </label>
      <label tuiLabel>
        <input formControlName="metodo" size="s" tuiRadio type="radio" value="DELETE" />
        <small>DELETE</small>
      </label> -->
    </div>

    <tui-input formControlName="alias">
      Nome da API*
      <input placeholder="Digite o nome da sua API." tuiTextfieldLegacy />
    </tui-input>

    <tui-input formControlName="url">
      URL*
      <input placeholder="Digite sua url." tuiTextfieldLegacy />
    </tui-input>

    <div class="error" *ngIf="form.get('url')?.hasError('invalidUrl') && form.get('url')?.touched">
      *Digite uma URL valida.
    </div>

    <tui-input formControlName="webhook">
      Webhook discord*
      <input placeholder="Digite o hebhook." tuiTextfieldLegacy />
    </tui-input>

    <tui-input formControlName="corpo">
      Body(opcional)
      <input placeholder="Digite o body." tuiTextfieldLegacy />
    </tui-input>

    <button (click)="addHeader()" size="m" tuiButton type="button">
      <tui-icon icon="https://img.icons8.com/?size=100&id=84991&format=png&color=000000" />
      Adicionar Header
    </button>

    <div formArrayName="cabecalho">
      <div class="form__group__header" *ngFor="let header of cabecalho.controls; let i = index" [formGroupName]="i">
        <tui-input formControlName="propriedade">
          Propriedade
          <input placeholder="Propriedade." tuiTextfieldLegacy />
        </tui-input>
        <tui-input formControlName="valor">
          Valor
          <input placeholder="valor" tuiTextfieldLegacy />
        </tui-input>

        <tui-icon (click)="deleteHeader(i)" icon="@tui.trash" appearance="link"/>
      </div>
    </div>

    <div>
      <button type="submit" size="m" tuiButton [disabled]="!form.valid">
        Enviar
      </button>
    </div>
  </form>
</div>
