<div class="container">
  <table tuiTable>
    <thead>
      <tr>
        <th tuiTh>Nome API</th>
        <th tuiTh>URL</th>
        <th tuiTh>Tipo</th>
        <th tuiTh>Ações</th>
      </tr>
    </thead>
    <tbody tuiTbody>
      <tr *ngFor="let item of data$ | async">
        <td tuiTd>
          <span tuiStatus>{{ item.alias }}</span>
        </td>
        <td tuiTd>
          <span tuiStatus>
            {{ item.url }}
          </span>
        </td>
        <td tuiTd>
          <span tuiStatus>
            {{ item.metodo }}
          </span>
        </td>
        <td tuiTd>
          <span tuiStatus>
            <button appearance="link" iconStart="@tui.ellipsis" size="xs" tuiIconButton tuiChevron tuiDropdownOpen
              [tuiDropdown]="content" type="button">
              More
            </button>

            <ng-template #content>
              <tui-data-list role="menu">
                <tui-opt-group>
                  <a role="menuitemradio" tuiOption (click)="exclude(item.id)">Excluir</a>
                  <a role="menuitemradio" tuiOption>Visualizar</a>
                  <a role="menuitemradio" tuiOption (click)="edit(item.id)">Editar</a>
                </tui-opt-group>
              </tui-data-list>
            </ng-template>

          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
